{% extends 'main/home.html.twig' %}

{% block title %} Switch Factory
{% endblock %}
{% block body %}
<style>
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

        .about-area {
            padding-top: 1%;
        }
        .form{
            background-color:#d5bdaf;
        }
        .about-img {
            padding-left:0px;
            width:500px;
            height:500px;
            position: relative;
            text-align: left;
        }

        .about-img:before {
            position: relative;
            content: '';
            right: -30px;
            top: 30px;
            width: 100%;
            height: 100%;
        }

        .about-img img {
            width: 400%;
            /* box-shadow:5px 5px 5px #550000; */
            
        }

        .about-text {
            padding-top: 10%;
            /* margin-top: -30px; */
            text-align: center;
        }

        .about-text h2 {
            /* padding-bottom: 10px;
            color: black;
            font-family: 'Comic Sans MS', 'cursive';
            font-size: 50px; */
            color: #CEF0D4; 
            font-family: 'Rouge Script', cursive;
            font-size: 60px;
            font-weight: normal;
            line-height: 48px; 
            margin: 0 0 50px; 
            text-align: center; 
            text-shadow: 1px 1px 2px #082b34;
        

        }

        .about-text p {
            /* font-family: 'Ubuntu', sans-serif;
            font-size: 18px;
            color: black; */
            color: #333; 
            font-family: 'Original Surfer', cursive; 
            font-size: 16px; 
            line-height: 28px; 
            margin: 0 0 24px;            
        }

        .about-text a {
            background: #6666FF;
            color: #fff ;
            padding: 15px 15px;
            display: inline-block;
            margin-top: 20px;
            text-decoration: none;
            border-radius: 80px;
        }
        .about-text a:hover{
            color:#FFFF33;
            background-color:#FF0000;
        }

        body {
            background-color: #EDEDED !important;
        }

                  /* CSS */
            .about-button {
            padding: 0.6em 2em;
            border: none;
            outline: none;
            color: rgb(255, 255, 255);
            background: #111;
            cursor: pointer;
            position: relative;
            z-index: 0;
            border-radius: 10px;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            }

            .about-button:before {
            content: "";
            background: linear-gradient(
                45deg,
                #ff0000,
                #ff7300,
                #fffb00,
                #48ff00,
                #00ffd5,
                #002bff,
                #7a00ff,
                #ff00c8,
                #ff0000
            );
            position: absolute;
            top: -2px;
            left: -2px;
            background-size: 400%;
            z-index: -1;
            filter: blur(5px);
            -webkit-filter: blur(5px);
            width: calc(100% + 4px);
            height: calc(100% + 4px);
            animation: glowing-about-button 20s linear infinite;
            transition: opacity 0.3s ease-in-out;
            border-radius: 10px;
            }

            @keyframes glowing-about-button{
            0% {
                background-position: 0 0;
            }
            50% {
                background-position: 400% 0;
            }
            100% {
                background-position: 0 0;
            }
            }

            .about-button:after {
            z-index: -1;
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background: #222;
            left: 0;
            top: 0;
            border-radius: 10px;
            }
            .form{
                max-width:1850px;
                margin: auto;
                padding: 30px 40px 40px;
            }

        
        /* Media queries */
         @media (max-width: 1400px) {
            
            .about-area {
                padding-top: 10%;
            }
            
            .about-img img {
                width: 100%;
                margin-left:-50px;
            }
        }
        @media (max-width: 1200px) {
            .about-area {
                padding-top: 10%;
            }
            
            .about-img img {
                width: 100%;
                margin-left:-110px; 
            }
        }
        @media (max-width: 993px) {
            .about-area {
                padding-top: 10%;
            }
            .about-img img {
                width: 100%;
            }
        }
        @media (max-width: 768px) {
            .about-area {
                padding-top: 10%;
            }
          
            .about-img img {
                width: 100%;
          
            }
        }
        @media (max-width: 576px) {
            .about-text h2 {
                font-size: 30px;
            }
            .about-text p {
                font-size: 16px;
             
            }
        }


  
</style>

     <div class="about-area">
     <div class="form">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-img">
						<img style="max-width:100%" src="https://scontent.fsgn2-7.fna.fbcdn.net/v/t1.15752-9/331107408_715676833533541_3885101367435613190_n.png?_nc_cat=108&ccb=1-7&_nc_sid=ae9488&_nc_ohc=iXBtuEUxpSQAX9A9XUr&tn=nrSirqe_iHDbg5jH&_nc_ht=scontent.fsgn2-7.fna&oh=03_AdRncWP0Yc84PpNXKkqh9KmupRR_nVwi9LSsZTmeivwadQ&oe=6412BBFB"></img>
                    </div>
                </div>
                <div class="col-lg-6 col-lg-offset-1">
                    <div class="about-text">
                        <h2>About Us</h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur cum magni labore suscipit quod fugiat architecto quam a iste nulla mollitia voluptas nobis odio voluptatibus soluta dolor, ad dolores, ea numquam cumque! Distinctio ad hic nulla repellendus autem delectus fuga expedita maiores ea cum reiciendis praesentium at, dolor officiis porro.</p>
                        <a class="about-button" href="http://127.0.0.1:8000/index">Start to Purchase</a>
                    </div>
                </div>  
            </div>
        </div>
    </div>
</div>


{% endblock %}

